.wrapper {
    width: 100%;
    height: 500vh;
    font-family: 'Inter', sans-serif;
    background: #d7d7d7;
}
.container {
    max-width: 1490px;
    padding: 0px 15px;
    margin: 0 auto;
}
.header__block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background: #a9a9a9;
    margin-bottom: 50px;
}
.temporarily {
    font-weight: 400;
    font-size: 30px;
    color: #000;
}
.task-block {
    display: flex;
    padding-left: 30px;
    width: 100%;
    height: 195px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 35px;
}
.n1 {
    line-height: 1.2;
}
.task-number {
    font-size: 15px;
    color: #000;
    font-weight: 700;
}
.task-about {
    margin-top: 10px;
    font-size: 22px;
    color: #000;
    font-weight: 400;
}
.block-content {
    margin-top: 20px;
}
.img-1 {
    width: 286px;
    height: 172px;
    margin-top: 11px;
    margin-left: 100px;
}
.answer {
    margin-top: 65px;
}
.answer_input {
    width: 250px;
    height: 40px;
    border-radius: 15px;
    background: #e4e4e4;
    font-size: 20px;
    color: #767676;
    font-weight: 500;
    padding-left: 15px;
}
.answer_check {
    border-radius: 20px;
    width: 150px;
    height: 40px;
    background: #bfbfbf;
    font-weight: 500;
    font-size: 20px;
    color: #000;
}

.block2 {
    height: 222px;
}
.n2 {
    width: 868px;
    height: 54px;
    line-height: 1.2;
}
.img2 {
    margin-top: 41px;
    width: 420px;
    height: 140px;
}
.block3 {
    height: 222px;
}
.n3 {
    width: 835px;
    line-height: 1.2;
}
.img3 {
    margin-top: 6px;
    margin-left: 70px;
    width: 215px;
    height: 210px;
}
.answer_check:hover {
    background: #838383;
}
.answer_check {
    transition: all .2s;
}